### For CLI tools ###
FORGEJO_HOST=http://192.0.0.0:20000
FORGEJO_USERNAME=your_name
FORGEJO_TOKEN=your_token
GITHUB_PERSONAL_ACCESS_TOKEN=your_token

### For CRON Workflow ###
VOLUME_DATA_DIR="/path/to/your_dir"
HOST_ID="1000:1000"
CRON_URL_PORT=30000
MOUNT_VOLUME=[{"type":"bind","source":"/path/to/your_dir","target":"/app/volume"}]
DB_SERVER_URL="https://your-server-less"
DB_SERVER_ENDPOINT_FOR_VOCABULARY_APPEND="/api/endpoint"
HEART_OWNER="test"
DISCORD_WEBHOOK_URL_FOR_WEATHER="https://discord.com/api/webhooks/aaa"
OPEN_WEATHER_API_KEY=your_token
DISCORD_WEBHOOK_URL_FOR_DAILY_TEMPLATE="https://discord.com/api/webhooks/bbb"
DATABASE_URL_01_STAGING="postgresql://db_url"
DATABASE_DUMP_DIR_01_STAGING="/path/to/your_dir"
DATABASE_URL_01_PRODUCT="postgresql://db_url"
DATABASE_DUMP_DIR_01_PRODUCT="/path/to/your_dir"
DATABASE_URL_01_MEMOS_STAGING="postgresql://db_url"
DATABASE_DUMP_DIR_01_MEMOS_STAGING="/path/to/your_dir"
DATABASE_URL_01_MEMOS_PROD="postgresql://db_url"
DATABASE_DUMP_DIR_01_MEMOS_PROD="/path/to/your_dir"
PC_INFO_OUTPUT_DIR="/path/to/your_dir"
PC_INFO_MEMORY_HOSTNAME_OF_NAS_01="your_host_name"
PC_INFO_MEMORY_NAMES_OF_NAS_01="your_memory_name"
PC_INFO_MEMORY_MANUFACTURERS_OF_NAS_01="your_memory_manufacturers"
