# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.html

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env
env.yml
env.yaml
pkg/win_dos/Taskfile.env.yml

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride
# Thumbnails
._*

### log ###
*.log
.gocache/
.cache/
.ci/

### tmp ###
**/tmp/**
tmp/
.tmp/
.tmpdir/
.gobuild/

### Docker ###
# .dockerignore
# Dockerfile
docker-compose.yml

### VSCode ###
.vscode/*

### setting files ###
.editorconfig
target*
# .clinerules
.clinerules/*
.config/cagent/config_linux/**/*_prod.yml

### Cloud Functions ###
.gcloudignore
mypkg/go.mod
mypkg/go.sum

### data ###
# testdata/*
downloads/
*.zip
*.tar
qdrant_storage/

### binary ###
pkg/bin/*
!pkg/bin/.gitkeep
/bin
devbox

### test data ###
internal/exif_modifier/test_data/tmp/*
!internal/exif_modifier/test_data/tmp/.gitkeep
internal/exif_mirror/test_data/tmp/*
!internal/exif_mirror/test_data/tmp/.gitkeep
internal/git_diff_recorder/ai_model/*
!internal/git_diff_recorder/ai_model/.gitkeep
lib/personal/*
!lib/personal/.gitkeep
!lib/personal/README.md

### agents ###
.codex
agent-work/*
!agent-work/.gitkeep

### agent tools ###
**/mcps/*
!**/mcps/.gitkeep
