VSC_PROFILE_URL: ""
KEYMAP_PROFILE_URL: ""
GITHUB_ACCOUNT_NAME: ""
GITHUB_ACCOUNT_EMAIL: ""
DISCORD_WEBHOOK_URL_FOR_IAC_ON_GCLOUD: ""
GCE_ICON_URL: ""
GSM_ICON_URL: ""
GCS_ICON_URL: ""
GCSCHEDULER_ICON_URL: ""
GCIAM_ICON_URL: ""
GCLOUD_RUN_ICON_URL: ""
GCLOUD_RUN_FUNCTION_ICON_URL: ""
DEV_HOME: ""
