version: "3"

vars:
  PACKAGE_ROOT_DIR: "/home/user/gigloo/third_party/devbox/pkg"
  FILE_MANEUVERS_WIN_EXE_SRC_DIRS: "\\\\wsl.localhost\\Ubuntu-24.04\\home\\user\\devbox\\pkg\\bin\\cli\\win_amd64"
  DB_SERVER_URL_01: "your-url"
  PATH_OF_DB_SERVER_ENDPOINT_01_FOR_LOGIN: "/your-path"
  PATH_OF_DB_SERVER_ENDPOINT_01_FOR_PC_STATS_APPEND: "/your-path"
